<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="../css/fontes.css">
    <meta charset="utf-8" />
    <title>Monitora UFRGS</title>
  </head>

  <body style = "background-color: var(--azul)">

    <div class = "parametros">
      <div class = "alinhamentoV">
        <a href="aluno.html"> <img border="0" alt="logo" src="../img/logo.png" > </a>

        <div class = "alinhamentoH">

          <p></p>

          <button class="botao" onclick="document.location='aluno.html'"> Perfil </button>

          <div class="cascata">
            <button class="botao"> Aulas</button>
              <div class="cascata-conteudo">
                <button class="botao" onclick="document.location='historicoDeAulas.html'"> Historico de aulas </button>
                <button class="botao" onclick="document.location='solicitarAula.html'"> Solicitar aula </button>
              </div>
          </div>
          
          <button class="botao" onclick="document.location='sejaUmMonitor.html'"> Seja um monitor </button>
          <button class="botao" onclick="document.location='index.html'"> Sair </button>

          <p></p>



        </div>

        <div class = "painel">

          <img border="0" alt="aluno" src="../img/aluno.png" width="300" height="300">
          <p> &nbsp &nbsp &nbsp &nbsp </p>

          <div>
            <p id="dados_cartao"></p>
            <p id="dados_nome"></p>
            <p id="dados_curso"></p>
          </div>

        </div>
      <div>
    </div>

    <script src="../js/aluno_script.js"></script>

  </body>  

</html>





