<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="../css/fontes.css">
    <meta charset="utf-8" />
    <title>Monitora UFRGS - Cadastro</title>
  </head>

  <body style = "background-color: var(--azul)">

    <div class = "parametros">
      <div class = "alinhamentoV">
        <div class = "alinhamentoH">

          <img src="../img/logo.png"/>

          <form id="cadastro-form" target="_blank" >
            <div style="text-align: right; padding: 0px 800px;">
              <p> Nome: <input class="caixa" type="text" name="dado_nome"/></p> 
              <p> Cartão: <input class="caixa" type="text" name="dado_cartao"/></p> 
              <p> Curso: <input class="caixa" type="text" name="dado_curso"/></p> 
              <p> e-mail: <input class="caixa" type="text" name="dado_email"/></p> 
              <p> telefone: <input class="caixa" type="text" name="dado_telefone"/></p> 
              <p> Senha:  <input class="caixa" type="password" name="dado_senha"/></p> 
              <p> Confirmar senha: <input class="caixa" type="password" name="dado_confsenha"/></p> 
            </div>


            <input class="botao" type="submit" value="Confirmar" id="cadastro-form-submit">
            <button class="botao" onclick="document.location='index.html'"> Voltar </button>
          </form>

        </div>
      </div>
    </div>

    <script src="../js/cadastro_script.js"></script>

  </body>  
</html>









