


<!doctype html>
<html>

  <head>

    <link rel="stylesheet" href="../css/fontes.css">
    <meta charset="utf-8" />
    <title>Monitora UFRGS - Cadastro</title>
    
  </head>
  

  <body style = "background-color: var(--azul)">

    <div class = "parametros">
      <div class = "alinhamentoV">
        <div class = "alinhamentoH">

          <img src="logo.png"/> 
          <p> Nome: <input class="caixa" type="text" />
          <p> Cartão: <input class="caixa" type="text" />
          <p> Senha:  <input class="caixa" type="text" />
          <p> Confirmar senha:  <input class="caixa" type="text" /> &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 

          <p> </p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    
          <button class="botao" onclick="document.location='index.html'"> Voltar </button> 
          
          <button class="botao" onclick="document.location='cadastro.html'"> Confirmar </button> 

    </div>
  </body>  
</html>









