


<!doctype html>
<html>

  <head>

    <link rel="stylesheet" href="../css/fontes.css">
    <meta charset="utf-8" />
    <title>Monitora UFRGS</title>

  </head>
  
 
  <body style = "background-color: var(--azul)">

    <div class = "parametros">
      <div class = "alinhamentoV">
        <div class = "alinhamentoH">

          <a href="professor.html"> <img border="0" alt="logo" src="../img/logo.png" > </a> <p></p>
          
          <button class="botao" onclick="document.location='professor.html'"> Perfil </button>

          <div class="cascata">
            <button class="botao"> Solicitações</button>
              <div class="cascata-conteudo">
                <button class="botao" onclick="document.location='solicitarMonitor.html'"> Solicitar monitor </button>
                <button class="botao" onclick="document.location='aprovarMonitor.html'"> Aprovar monitor </button>
              </div>
          </div>

          <button class="botao" onclick="document.location='index.html'"> Sair </button>

          <p></p>

          
          <div class = "painel">

            <img border="0" alt="professor" src="../img/professor.png" width="300" height="300">
            <p> &nbsp &nbsp &nbsp &nbsp </p>

            <div>
              <p id="dados_cartao"></p>
              <p id="dados_nome"></p>
              <p id="dados_curso"></p>
            </div>

          </div>
   
        </div>
      <div>
    </div>

    <script src="../js/professor_script.js"></script>

  </body>  

</html>





