


<!doctype html>
<html>

  <head>

    <link rel="stylesheet" href="../css/fontes.css">
    <meta charset="utf-8" />
    <title>Monitora UFRGS</title>

  </head>
  

  <body style = "background-color: var(--azul)">
    <div class = "parametros">
        <div class = "alinhamentoV">
            <div class = "alinhamentoH">
                
                <a href="aluno.html"> <img border="0" alt="logo" src="../img/logo.png" > </a> <p></p>

                <button class="botao" onclick="document.location='aluno.html'"> Perfil </button>

                <div class="cascata">
                    <button class="botao"> Aulas</button>
                    <div class="cascata-conteudo">
                        <button class="botao" onclick="document.location='historicoDeAulas.html'"> Historico de aulas </button>
                        <button class="botao" onclick="document.location='solicitarAula.html'"> Solicitar aula </button>
                    </div>
                
                </div>

                <button class="botao" onclick="document.location='sejaUmMonitor.html'"> Seja um monitor </button>
                <button class="botao" onclick="document.location='index.html'"> Sair </button>

                <form id="cadastro-form" target="_blank">
                    <p> Disciplina: <input class="caixa" type="text" name="dado_nome"/>
                    <p> Cartão Monitor: <input class="caixa" type="text" name="dado_cartao"/>


                    

                    <p> Horário de Início: <input class="caixa" type="text" name="dado_curso"/>
                    <p> Horário de Final:  <input class="caixa" type="password" name="dado_senha"/>
                    <p> Remoto: <input class="caixa" type="password" name="dado_confsenha"/> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p> 
                    <input class="botao" type="submit" value="Confirmar" id="cadastro-form-submit">
                    <button class="botao" onclick="document.location='index.html'"> Voltar </button> 
                  </form>

                <p class="selectbotao"></p>
                <table>
                    <thead>
                        <tr>
                            <th>Cartão</th>
                            <th>Nome</th>
                          </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/solicitarAula.js"></script>
</body>
          




          

</html>





